.ipynb_checkpoints
.DS_Store
__pycache__
*.pytest_cache
.gitattributes
!*.zip
/awesome.gif
/data/rt.movie_info.tsv.gz
/data/rt.reviews.tsv.gz
/data/tmdb.movies.csv.gz
/data/tn.movie_budgets.csv.gz
/untitled.tx
/data/im.db
/data/im.db.zip
/LICENSE.md
/movei_data_erd.jpeg
